:root{
  --red-flix: #E50913;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body {
  background-color: black;
  color: white;
  font-size: 18pt;
  letter-spacing: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 5px;
  line-height: 25px;
  border: 0.5px solid black;
  overflow-x: hidden;
}
header{
  position: absolute;
  right: 50%;
  transform: translate(50%);
  top: 40px;
}
.bg{
  position: absolute;
  z-index: -1;
  filter: opacity(0.5);
  height: 1125px;
  object-fit: fill;
}
.initial-screen{
  height: 1125px;
}
.first-section{
  display: flex;
  justify-content: space-between;
  margin: 0% 15%;
}
.first-section p{
  width: 45%;
  margin-top: 35vh;
  
}
.App a button{
  display: block;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  background-color: var(--red-flix);
  margin: 200px auto;
  color: white;
  font-size: 20pt;
}
.App a button:hover{
  border: 1px solid brown;
}
.Container-Catalog{
  margin-top: 50px;
  text-align: center;
}
.Movies-Catalog{
  display: flex;
  justify-content: space-evenly;
}
.Movies-Catalog a{
  position: relative;
}
.Movies-Catalog a img{
  margin-top: 20px;
  width: 30vw;
  opacity: 0.5;
  transition: 0.3s;
}
.Movies-Catalog a img:hover{
  margin-top: 10px;
  opacity: 0.8;
}
.Movies-Catalog a p{
  position: absolute;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
}
.Container-Catalog-title{
  text-align: center;
  margin-top: 50px;
}
.Container-Catalog-Grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}
.h-1{
  grid-row: span 1;
}
.h-2{
  grid-row: span 2;
}
.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
}
.Platform-Catalog{
  width: 30vw;
}
.item-tablet{
  object-fit: cover;
  display: flex;
}
.item-tablet img{
  width: 30vw;
  
}
.item-tv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-cellphone{
  display: flex;
}
.item-cellphone img{
  width: 15vw;
}
footer{
  margin: 40px auto;
  font-size: 1rem;
  color: grey;
  max-width: 1200px;
}
.footer-flex{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  word-spacing: normal;
  gap: 20px 50px ;
}
.footer-flex span{
  flex-basis: 250px;
  justify-content: center;
}
@media(max-width:950px){

}