:root{
  --red-flix: #E50913;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body {
  background-color: black;
  color: white;
  font-size: 18pt;
  letter-spacing: 1px;
  font-family:'Arial Narrow', Arial, sans-serif;
  word-spacing: 5px;
  line-height: 25px;
  border: 0.5px solid black;
  overflow-x: hidden;
}
header{
  position: absolute;
  right: 50%;
  transform: translate(50%);
  top: 40px;
}
.bg{
  position: absolute;
  z-index: -1;
  filter: opacity(0.5);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.initial-screen{
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
.first-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
  padding-top: 35vh;
  text-align: center;
  width: 60%;
}
.first-section h1{
  line-height: 50px;
  font-weight: bolder;
  font-size: 4rem;
}
.first-section h2{
  font-size: 2rem;
  font-weight: 500;
}
.Container-initialscreen-subscription{
  display: flex;
  width: 60%;
  margin-top: 20px;  
}
.Container-initialscreen-subscription input{
  flex: 1;
}
.Container-initialscreen-subscription a button{
  border-radius: 5px;
  width: 250px;
  height: 80px;
  background-color: var(--red-flix);
  color: white;
  font-size: 2rem;
}
.Container-initialscreen-subscription a button:hover{
  border: 1px solid brown;
}
.Container-Catalog{
  margin: 80px auto;
  text-align: center;
}
.Movies-Catalog{
  display: flex;
  justify-content: space-evenly;
}
.Movies-Catalog a{
  position: relative;
  transition: 0.4s;  
}
.Movies-Catalog a img{
  margin-top: 20px;
  width: 30vw;
  opacity: 0.5;
  transition: 0.4s;
}
.Movies-Catalog a:hover{
  transform: translateY(-10px);
}
.Movies-Catalog a:hover img:nth-child(1){
  opacity: 0.7;
}
.Movies-Catalog a p{
  position: absolute;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
}
.Container-Catalog-title{
  text-align: center;
  margin-top: 50px;
}
.Container-Catalog-Grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}
.h-1{
  grid-row: span 1;
}
.h-2{
  grid-row: span 2;
}
.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
}
.Platform-Catalog{
  width: 30vw;
}
.item-tablet{
  object-fit: cover;
  display: flex;
}
.item-tablet img{
  width: 30vw; 
}
.item-tv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-cellphone{
  display: flex;
}
.item-cellphone img{
  width: 15vw;
}
footer{
  margin: 60px auto;
  font-size: 1rem;
  font-weight: lighter;
  color: grey;
  max-width: 1200px;
}
.footer-flex{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  word-spacing: normal;
  gap: 20px 10px ;
  align-items: center;
  justify-content: space-between;
}
.footer-flex h2{
  flex-basis: 100%;
}
.footer-flex span{
  flex-basis: 230px;
}
@media(max-width:950px){
  .first-section{
    flex-direction: column;
    gap: 50px;
  }
  .first-section h1{
    font-size: 2.5rem;
  }
  .Movies-Catalog{
    flex-direction: column;
  }
  .Movies-Catalog a img{
    width: 80vw;
  }
  .Container-Catalog-Grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .h-2{
    grid-row: span 1;
  }
  .Platform-Catalog{
    width: 80vw;
  }
  .item-tablet img{
    width: 80vw; 
  }
  footer{
    margin: 20px;
  }
}
@media(max-width:600px){
  header a img{
    width: 80vw;
  }
  .first-section{
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .first-section h1, .first-section h2, .first-section p{
    font-size: 1.6rem;
    line-height: 25px;
    gap: 500px
  }
  .Container-initialscreen-subscription{
    display: block;
  }
  .Container-initialscreen-subscription input, .Container-initialscreen-subscription a button{
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    box-sizing: border-box;
  }
  .item-cellphone img{
    display: none;
  }
  
  .first-section{
    padding-top: 20vh;
  }
}